.sidebar-admin-container {
  position: fixed;
  top: calc(70px + 5px);
  left: 0;
  height: calc(100vh - 70px - 5px);
  width: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 1000;
  gap: 20px;
}

.sidebar-admin-item {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
