.billing-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  background-color: #f6f7f9;
  padding: 30px 40px;
}

.billing-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.car-card-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  background-color: white;
}

.billing-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.billing-header > h4 {
  font-weight: 700;
  font-size: 20px;
  color: #1a202c;
}

.billing-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.billing-header > div > p {
  font-weight: 500;
  font-size: 14px;
  color: #90a3bf;
}

.billing-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 20px 20px 0 20px;
  border-radius: 10px;
}

.billing-form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.billing-form > div {
  width: 49%;
}

.pick-up-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pick-up-form-row {
  display: flex;
  justify-content: space-between;
}

.pick-up-form-row > div {
  width: 49%;
}

.confirm-form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.confirm-item {
  background-color: #f6f7f9;
  padding: 10px;
  border-radius: 12px;
}

.car-card-detail {
  padding: 20px;
  border-radius: 12px;
}

.car-card-detail-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.car-card-detail-header > h4 {
  font-weight: 700;
  font-size: 20px;
  color: #1a202c;
}
.car-card-detail-header > p {
  font-weight: 500;
  font-size: 14px;
  color: #90a3bf;
}

.car-card-detail-body {
  display: flex;
  align-items: center;
  gap: 20px;
}

.car-card-detail-body > div {
  width: 200px;
  border-radius: 12px;
}
.car-card-detail-body > div > img {
  width: 100%;
}

.car-card-detail-name {
  font-weight: 700;
  font-size: 32px;
  color: #1a202c;
}

.car-card-detail-price {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.car-card-detail-price > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-card-detail-price > div > p:nth-child(1) {
  font-weight: 500;
  font-size: 14px;
  color: #90a3bf;
}

.car-card-detail-price > div > p:nth-child(2) {
  font-weight: 600;
  font-size: 18px;
  color: #1a202c;
}

.car-card-detail-total {
  display: flex;
  justify-content: space-between;
}

.car-card-detail-total-header > h4 {
  font-weight: 700;
  font-size: 20px;
  color: #1a202c;
}

.car-card-detail-total-header > p {
  font-weight: 500;
  font-size: 14px;
  color: #90a3bf;
}

.car-card-detail-total > p {
  font-weight: 700;
  font-size: 32px;
  color: #1a202c;
}

.car-card-detail-image {
  margin: 30px 0;
}
