* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-container {
  background-color: #f6f7f9;
  padding: 40px;
}

